.main-menu:hover,nav.main-menu.expanded {
  width:200px;
  overflow:visible;
}

.main-menu {
  background:$yellow;
  position:fixed;
  top:0;
  bottom:0;
  height: 100%;
  left:0;
  width:60px;
  overflow:hidden;
  transition:width .05s linear;
  z-index:1000;

  &>ul {
    margin:7px 0;
    &.logout {
      position:absolute;
      left:0;
      bottom:0;
    }
  }
  li {
    position:relative;
    display:block;
    width:250px;
    &>a {
      position:relative;
      display:table;
      border-collapse:collapse;
      border-spacing:0;
      color:$base-color;
      font-size: 14px;
      text-decoration:none;
      -webkit-transform:translateZ(0) scale(1,1);
      -webkit-transition:all .1s linear;
      transition:all .1s linear;
    }
  }
  .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
  }
  .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
  }
  .fa-2x {
    font-size: 2em;
  }
  .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
  }
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:$red;
}
