{% extends 'blog/base.html' %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <h1>About my blog</h1>
    <hr>
    <div class="row">
        <div class="col-3">
            <div class="block block_theme">
                <p>post_theme</p>
                <a href="/">There are some url</a>
            </div>
        </div>
        <div class="col-3">
            <div class="block block_theme">
                <p>block_theme</p>
                <a href="/">There are some url</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    <a href="/">There are some url</a>
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    <a href="/">There are some url</a> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="block comment_theme">
                <p>comment_theme</p>
                <a href="/">There are some url</a>
                    <p>{% lorem 2 p %}</p>
            </div>
        </div>
        <div class="col-3">
            <div class="block block_theme post_preview">
                <h2>dhjdgkdukdtuk</h2>
                <div class="date">
                    <p>Published on: dgjkdgjk</p>
                </div>
                <a href="#">Comments: dkjgkdgjk</a>
            </div>
        </div>
    </div>
{% endblock %}
