{% extends 'blog/base.html' %}

{% block content %}

    <h1>All posts</h1>
    <hr>
{#    <span class="glyphicon glyphicon-pencil"></span>#}
    <div class="d-flex justify-content-around flex-wrap">
        {% for post in post_list %}
            <div class="d-flex flex-column mb-4">
                <div class="block block_theme post_preview">
                        <div class="d-flex flex-column justify-content-between">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}" class="post_preview-link">{{ post.title|truncatechars:15 }}</a></h2>
                            <div class="post_date d-flex">
                                <p class="my-auto publish">Published on: {{ post.published_date|date:'D M Y' }}</p>
                            </div>
                            <p class="post_content mb-3">{{ post.text|safe|linebreaksbr|truncatechars:400 }}</p>
                        </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <a href="{% url 'post_detail' pk=post.pk %}" class="mt-auto">Comments: {{ post.approve_comments.count }}</a>
                    {% if user.is_authenticated %}
                        {% include 'components/buttons.html' %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
