{% extends 'blog/base.html' %}

{% block content %}
    <div class="block block_theme">
        <h1 class="post_title">{{ post.title }}</h1>

        {% if post.published_date %}
            <div class="date post_date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <p class="post_content">{{ post.text|safe|linebreaksbr }}</p>

        <hr>

        {% if user.is_authenticated %}
            {% include 'components/buttons.html' %}
        {% endif %}
    </div>
    <div class="d-flex flex-column">
     <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="flex-grow-4 button button-comment">Add comment</a>
        <div class="block comment_theme flex-grow-1">
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    {{ comment.create_date }}
                    {% if not comment.approved_commed %}
                        <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span> {# need to icon #}
                        </a>
                        <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> {# need to icon #}
                        </a>
                    {% endif %}
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p>Posted by: {{ comment.author }}</p>
                {% endif %}
                {% empty %}
                <p>No comments :(</p>

            {% endfor %}
        </div>
    </div>



{% endblock %}

