<div class="d-flex justify-content-end">

    {% if not post.published_date %}
        <div class="btn button button_publish btn-md my-auto mx-2">
            <a href="{% url 'post_publish' pk=post.pk %}">
              <i class="fa fa-solid fa-upload"></i>
            </a>
        </div>
    {% endif %}

    <div class="btn button button_edit btn-md my-auto mx-2">
        <a href="{% url 'blog:post_edit' pk=post.pk %}">
          <i class="fa fa-solid fa-pencil"></i>
        </a>
    </div>

    <div class="btn button button_remove btn-md my-auto mx-2">
        <a href="{% url 'blog:post_remove' pk=post.pk %}">
          <i class="fa fa-trash-o   "></i>
        </a>
    </div>

</div>

