{% load static %}
<nav class="main-menu">
    <ul>
        <li>
            <a href="{% url 'blog:post_list' %}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="{% url 'blog:about' %}">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">About</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">LINK</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">LINK</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">LINK</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'blog:post_new' %}">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">New Post</span>
                </a>
            </li>
            <li>
               <a href="{% url 'blog:post_draft_list' %}">
                   <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">Drafts</span>
                </a>
            </li>
        {% endif %}
    </ul>

    <ul class="logout">
        {% if user.is_authenticated %}
            <li>
               <a href="{% url 'logout' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Log Out</span>
                </a>
            </li>
        {% else %}
            <li>
               <a href="{% url 'blog:login' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Sign In</span>
                </a>
            </li>
            <li>
               <a href="{% url 'blog:registration' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Sign Up</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>